/* **********************************************Hero*************************************************** */
.hero {
    height: 99vh;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 99vw;
    min-height: 100vh;
}

.logo img {
    margin-top: 10vh;
    position: absolute;
    width: 20rem;
    max-width: 90vw;
    animation: 1.5s ease-out 0s 1 slideInFromSide;
}

.hero_text button {
    background-attachment: fixed;
    position: relative;
    font-family: garamond;
    animation: 1.5s ease-out 0s 1 slideInFromBottom;
}

.hero_text h2 {
    text-align: center;
    background-attachment: fixed;
    color: white;
    padding-top: 35%;
    font-family: garamond;
    text-shadow: 2px 2px black;
    animation: 1.5s ease-out 0s 1 slideInFromTop;
}


/* ************************************************************Navbar************************************************** */
.navbar {
    background-color: #222;
    border-bottom: 0.25rem solid teal;
    overflow: hidden;
    z-index: 99;
}

.nav-link {
    color: white;
    font-size: 1.5rem;
    font-family: garamond;
}

.sticky {
    position: sticky;
    width: 100%;
    z-index: 1;
    top: 0
}

/* ************************************************************     CONTENT      *********************************************************** */

.main_content {
    background-image: linear-gradient(to bottom right, rgb(0, 36, 34), rgb(0, 75, 71), rgb(0, 20, 19));
    background-size: cover;
}

.title {
    margin: 0.5rem;
    padding: 1rem;
    font-family: garamond;
    color: white;
    border-bottom: 0.5rem double white;
}

/* ************************************************************About************************************************** */

.about {
    background-image: url("./images/about_BG.jpg");
    background-position-x: 50%;
    color: white;
    padding: 1rem;
}

.me {
    margin: 0.5rem 4rem;
    border-radius: 50%;
    border: 2px solid teal;
}

.skills {
    background-color: rgba(175, 175, 175, 0.3);
    padding: 2rem;
    font-family: garamond;
    font-size: 1.1rem;
}

.skill h5 {
    line-height: 2.5;
}

.progress {
    margin: 0.5rem 0rem;
    height: 2rem;
}

.progress h5 {
    color: black;
    font-size: 0.75rem;
    font-family: helvetica;
}

.intro {
    background-color: rgba(0, 150, 150, 0.3);
    padding: 2rem;
    margin-bottom: 2rem;
    font-family: garamond;
    font-size: 1.1rem;
}

.cta {
    background-color: rgba(0, 150, 150, 0.3);
    padding: 2rem;
    font-family: garamond;
    font-size: 1.1rem;
}

/* ************************************************************Portfolio************************************************** */
.cards {
    background-image: url("./images/about_BG.jpg");
    background-position-x: 75%;
    padding: 1rem;
    margin-top: 2rem;
}

.card {
    margin: 1rem;
    height: 20rem;
    padding: 0.5rem;
    color: white;
    background-color: rgba(0, 199, 199, 0.4);
}

.card p {
    color: rgb(0, 175, 175);
    border: 1px solid rgb(0, 175, 175);
    border-radius: 3%;
    text-align: center;
    padding: 0.25rem;
}

.card:hover {
    cursor: pointer;
}

.recommend {
    color: white;
}

.recommend h1 {
    font-family: garamond;
    text-decoration: underline;
}

.reviews,
.endorsements {
    background-color: rgba(37, 56, 56, 0.9);
    padding: 1rem;
    margin: 1rem;
}


/* ************************************************************Contact************************************************** */
#contact {
    background-image: url("./images/about_BG.jpg");
    background-position-x: 75%;
    padding: 1rem;
    margin-top: 2rem;
    color: white;
}

#contact form {
    display: table-caption;
    text-align: center;
}

.info {
    margin: 1rem;
}

.small_logo {
    max-height: 14rem;
}

.icons {
    margin: 1.5rem 0rem;
    text-align: center;
}

.icons img {
    max-width: 3rem;
}

.footer {
    background-color: black;
    color: white;
    text-align: center;
}

/* *******************************************************Media Queries*********************************************** */
@media only screen and (max-width: 480px) {
    html {
        width: 75vw;
    }

    .fullscreen-bg {
        width: 90vw;
    }

    .hero_text h2 {
        padding-top: 145%;
    }

    .nav-link {
        font-size: 0.75rem;
    }

    .info {
        font-size: 1.5rem;
    }
}